.home_postsWrapper {
  height: 600px;
  overflow: auto;
}
.home_commentsWrapper {
  height: 600px;
  overflow: auto;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  align-self: center;
  justify-self: center;
}
